.title{
    font-weight: 600;
    font-size: 60px;
    color: #FF0B53;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.1em;
}
.about{
    font-weight: 600;
    color: #fffefe;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.1em;
    font-size: 20px;
}
.img {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.1em;
}

